// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  padding:12px;
}

 #crux-logo {
   height: 100%;
 }

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 300px;
}

.box img {
  width: 100%;
}

.modal-img img {
  width: 100%;
  
  
}



.modal-body {
  padding: 0;
}